.background {
  background-color: var(--color-cream);
}

.halloweenFeaturedSection {
  background-image: url("/images/backgrounds/pumpkinBackground.jpeg");
  background-repeat: repeat;
  padding: var(--space-16) 0;
  background-size: 700px auto;
}
